@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section PageSpecificScript {
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="~/js/CodeFlower.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var myFlower = new CodeFlower("#visualization", 350, 220).update(JSON.parse(document.getElementById('flowerData').innerText));
        });
    </script>
 }
<h1>Dashboard</h1>
<div id ="flowerData" hidden>@Model.FlowerData</div>
<div class="row">
    <div class="col-md-3">
        <h2>Server status</h2>
        <ul>
            <li>@ViewData["ServerStatus"]</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Content</h2>
        <ul>
            <li>@ViewData["systemCount"] Systems</li>
            <li>@ViewData["releaseCount"] Releases</a></li>
            <li>@ViewData["changeSetCount"] ChangeSets</a></li>
            <li>@ViewData["tableCount"] Tables</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Tables</h2>
        <ul>
            @{
                if (Model.ServerConnectionAlive)
                {
                    foreach (string s in Model.TableList)
                    {
                        <li><a href="Data/Data?focus=@s">@s</a></li>
                    }
                }
                else
                {
                    <li>No server connection</li>
                }
            }
        </ul>
    </div>
    <div class="col-md-3">
        <div id="visualization"></div>
    </div>
</div>
