@page
@model ElementManagerModel
@using RDMUI.Models;
@{
    ViewData["Title"] = "Manage Element";
}
<h2>@ViewData["Title"]</h2>

@{
    if(!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="msgContainer">@Model.Message</div>
    }
}

@{
    if (Model.client.ItemInFocus)
    {
        <h3> @Model.FocusedItem.ID </h3>
        <form method="POST">
            Select a ChangeSet: 
            <select asp-for="SelectedChangeSet.ID">
                @{foreach (ChangeSet s in Model.TableChangeSet)
                {
                    <option value="@s.ID">@s.Name</option>
                }}
            </select>
            <input asp-for="tableId" hidden />
            <br />
            <br />
            <ul>
                <li hidden="true">ID: <input asp-for="FocusedItem.ID"/></li>
                @foreach (var key in Model.Values.Keys)
                {
                    <li>@key.ToString(): <input asp-for="Values[key]" /></li>
                }
            </ul>
            <br />
            <input type="submit" value="Submit" />
        </form>
        <br/>
        <br/>
        <br/>
    }
}


