@page
@model SystemsManagerModel
@using RDMUI.Models;
@section PageSpecificScript {
   <script type="text/javascript">
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#bodyDataTable tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );
        
            // DataTable
            var table = $('#bodyDataTable').DataTable();
        
            // Apply the search
            table.columns().every( function () {
                var that = this;
        
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        } );
   </script>
 }
@{
    ViewData["Title"] = "Manage Systems";
}
<h2>@ViewData["Title"]</h2>

@{
    if(!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="msgContainer">@Model.Message</div>
    }
}

@{
    if (Model.client.ItemInFocus)
    {
        <h3> @Model.FocusedItem.Name </h3>
        <form method="POST">
            <ul>
                <li hidden="true">ID: <input asp-for="FocusedItem.ID"/></li>
                <li>Name: <input asp-for="FocusedItem.Name"/></li>
                <li>Active?: <input asp-for="FocusedItem.Active"/></li>
            </ul>
            <input type="submit" value="Submit" />
        </form>
        <br/>
        <br/>
        <br/>
    }
}

<br/>
<h3>Existing Systems</h3>
<a href="?action=A">Add New System....</a>
<table id="bodyDataTable" class="display" style="width:90%;">
    <thead>
        <tr>
            <th> Name </th>
            <th> Active? </th>
            <th> ID </th>
        </tr>
    </thead>
    <tbody>        
        @{foreach (RDSystem s in Model.ExistingSystems)
        {
        <tr>
            <td><a href="?focus=@s.ID">@s.Name</a></td>
            <td>@s.Active</td>
            <td>@s.ID</td>
        </tr>        
        }}
    </tbody>     
    <tfoot>
        <tr>
            <th> Name </th>
            <th> Active? </th>
            <th> ID </th>
        </tr>
    </tfoot>
</table>
